<!--<app-slider ></app-slider>


 <div class="colour-block">
  <h1>Our Company </h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div>
<div class="skew-cc"></div>
<div class="white-block">
  <h1>History of our company</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div>
<div class="skew-c"></div>
<div class="colour-block">
  <h1>what we do?</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div> -->

<body>
    <section class="sec1">
        <h1 class="welcome" @fade>Welcome to VEN|PUNTO</h1>
        <P class="welcome-two" @fade2>Lorem ipsum dolor sit amet, consectetur adipisicing?</P>
    </section>
    <br><br>
    <section class="sec2">
           <!--  <h1 >VEN | <span>PUNTO</span></h1>
        <div class="ourCompany">
                <img style="width: 200px; height: 200px" src="../../../assets/imagenes/ourcompany.jpg" alt="">
                <h2>Our company</h2>
                <P>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                    it to make a type specimen book. It has sur
                    vived not only five centuries, but also the
                    leap into electronic typesetting, remainin
                    g essentially unchanged. It was popularise
                    d in the 1960s with the release of Letrase
                    t sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing
                    software like Aldus PageMaker including ve
                    rsions of Lorem Ipsum.</P>       
        </div>
        <div class="what-do-we-do"> 
                <img src="../../../assets/imagenes/product1.jpg" alt="">
                <h2>What do we do?</h2>
                <P>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                    it to make a type specimen book. It has sur
                    vived not only five centuries, but also the
                    leap into electronic typesetting, remainin
                    g essentially unchanged. It was popularise
                    d in the 1960s with the release of Letrase
                    t sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing
                    software like Aldus PageMaker including ve
                    rsions of Lorem Ipsum.</P>       
        </div>
        <div class="about-us">
            <img src="../../../assets/imagenes/who-we-are.png" alt="">               
                <h2>About Us</h2>
                <P>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                    it to make a type specimen book. It has sur
                    vived not only five centuries, but also the
                    leap into electronic typesetting, remainin
                    g essentially unchanged. It was popularise
                    d in the 1960s with the release of Letrase
                    t sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing
                    software like Aldus PageMaker including ve
                    rsions of Lorem Ipsum.</P>       
        </div>
        <div class="services">       
            <img src="../../../assets/imagenes/product2.jpg" alt="">
                <h2>Services</h2>
                <P>Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                    it to make a type specimen book. It has sur
                    vived not only five centuries, but also the
                    leap into electronic typesetting, remainin
                    g essentially unchanged. It was popularise
                    d in the 1960s with the release of Letrase
                    t sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing
                    software like Aldus PageMaker including ve
                    rsions of Lorem Ipsum.</P>       
        </div> -->
        <h1 >VEN | <span>PUNTO</span></h1>
        <br>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="../../../assets/imagenes/ourcompany.jpg" width="300" height="180" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Our Company</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                            <div class="card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="" src="../../../assets/imagenes/product1.jpg" width="300" height="180"  alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">What do we do?</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                                <div class="card">
                                    <div class="card-horizontal">
                                        <div class="img-square-wrapper">
                                            <img class="" src="../../../assets/imagenes/who-we-are.png"width="300" height="180"  alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">About Us</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="../../../assets/imagenes/product2.jpg"width="300" height="180"  alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title card-title-center">Services</h4>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                </div>
            </div>

    </section>
    <section class="sec3"></section>
</body>