@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

/* body {
    margin:0px;
  }
  .colour-block {
    background:#212529;
    width:100%;
    padding:7% 20% 10% 20%;
    color:#fff;
  }
  .white-block {
    background:#fff;
    width:100%;
    padding:7% 10% 10% 10%;
    color:#212529;
  }
  h1 {
    text-align:center;
    font-size:80px;
    font-family:'Merriweather', serif;
    font-weight:normal;
  }
  p {
    font-size:20px;
    font-family:'Montserrat', sans-serif;
  }
  
  
  /*------------------*/
  /*  SKEW 1 */
  /*------------------
  .skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #212529 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
  
  
  /*-------------------------*/
  /* SKEW  */
  /*-------------------------
  .skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #212529 50%);
  } */
  h1{
      font-family:  'Montserrat', sans-serif;
      font-size: 80px;
      text-align: center;
  }
  body{
      margin: 0;
      padding: 0;
  }
  .welcome{
      padding: 100px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 120px;
      color: aliceblue;
  }
  .welcome-two{
      text-align: center;
      font-family:'Merriweather', serif;
      font-size: 40px;
      color: aliceblue;

  }
  section{
      width: 100%;
      height: 100vh;
  }
  section.sec1{
      position: relative;
      overflow: hidden;
      background: url(../../../assets/imagenes/Punto-de-venta.jpg);
      background-attachment: fixed;
      background-repeat: no-repeat;
  }
  section.sec1:before{
      content:'';
      position: absolute;
      top: 100%;
      left:-50%;
      width: 100%;
      height: 100%;
      background: #ffffff;
      transform-origin: right;
      transform: skewY(4deg);
  }
  section.sec1:after{
    content:'';
    position: absolute;
    top: 100%;
    right:-50%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform-origin: left;
    transform: skewY(-4deg);
}
section.sec3{
    position: relative;
    overflow: hidden;
    background: url(../../../assets/imagenes/punto-de-venta-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
section.sec3:before{
    content:'';
    position: absolute;
    bottom: 100%;
    left:0%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform-origin: left;
    transform: skewY(4deg);
}
section.sec2{
    height: auto;
    padding: 100px;
    box-sizing: border-box;
}
.ourCompany{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.5);
    display: flex;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
   
}
